*
{
    font-family: Google Sans;
    user-select: none;
    transition: 0.2s ease !important;
}
.section
{
    margin: 2px;
    margin-top: 21px;
    padding: 20px 30px;
    border-radius: 1.8rem;
    background-color: #4fccf3
}
.card-header
{
    font-size: larger; 
}
.btn:hover
{
    transform: scale(1.05);
}
body
{
    background-image: url('https://wallpapercave.com/wp/wp2163572.jpg');
    background-size: cover;
    background-position: top left;
}
.card
{
    height: 100%;
    background-color: #3186a0;
    color: white;
    border: none;
    border-radius: 10px;
}
.header
{
    margin: 2px;
    margin-top: 21px;
    padding: 20px 30px;
    border-radius: 1.8rem;
    background-color: rgba(255, 255, 0, 0.85);
}